<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="LogDirectory"                   value=".\logs" />
        <add key="DbFilePath"                   value=".\data\archive.db" />
        <add key="AttachmentDirectory"          value=".\data\attachments\" />
        <add key="AutoImportIntervalMinutes"    value="10" />
        <add key="MaxImportCount"               value="100" />
        <add key="TargetFolders"                value="受信トレイ;送信済みアイテム" />
        <add key="SyncDeletionsEnabled"           value="false" />
        <add key="ConversationSortAscending"    value="true" />
        <add key="DefaultHtmlView"              value="true" />
        <add key="ReadingPanePosition"         value="Bottom" />
    </appSettings>
</configuration>